---
layout: menu-page
title: Our Authors
author: Maarten Coonen
permalink: authors:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="authors-container">
<section class="authors-header">
  <div class="author-image-container">
    <img src="{{ relativebase }}/assets/img/authors/mcoonen.jpg" alt="Maarten Coonen">
  </div>
  <h3>Maarten Coonen</h3>
  <p class="subtitle">Data Engineer, IT developer</p>
  <ul class="contact-list">
<!--        <li class="facebook"><a class="facebook" href="https://facebook.com/yourname" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>-->
<!--        <li class="instagram"><a class="instagram" href="https://www.instagram.com/yourname" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>-->
    <li class="linkedin"><a class="linkedin" href="https://www.linkedin.com/in/maartencoonen" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
<!--        <li class="twitter"><a class="twitter" href="https://x.com/yourname" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>-->
<!--        <li class="youtube"><a class="youtube" href="https://www.youtube.com/channel/yourname" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>-->
    <li class="github"><a class="github" href="https://github.com/mcoonen" target="_blank"><i class="fa-brands fa-github"></i></a></li>
<!--    <li class="email"><a class="email" href="mailto:your<dot>name<at>domain<dot>.org"><i class="fa fa-envelope-open-text"></i></a></li>-->
  </ul>
</section>
<section class="authors-body">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium nec nisi sed viverra. Maecenas
        aliquam dapibus sem in rhoncus. Cras euismod placerat gravida. Suspendisse vitae libero ultrices, tempor neque ut,
        tincidunt urna. In id vulputate massa, id bibendum sem. Praesent imperdiet nisi eros. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc hendrerit ante vitae urna vestibulum,
        et posuere leo consectetur. Donec a ultricies diam. Etiam at quam vehicula, tristique dolor eu, tempus ex.
        Quisque ac mollis magna. Sed ornare felis vel interdum ullamcorper. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.

        Suspendisse sem ligula, venenatis ac mi quis, aliquet pharetra risus. Nunc tristique congue rhoncus. Nulla
        euismod lectus sit amet facilisis euismod. Nam malesuada posuere sem, ac fermentum tortor mollis eu. Nam
        tincidunt bibendum eros et ultricies. Mauris facilisis non magna vitae aliquet. Ut non ligula lorem. Ut
        cursus fermentum dolor, at dictum mauris tempus a. Mauris elit metus, laoreet ac elit non, congue malesuada
        ipsum. In vulputate purus neque, vitae convallis nisl vehicula at.
    </p>
</section>
</div> <!-- End authors-container -->

<div class="authors-container">
<section class="authors-header">
  <div class="author-image-container">
    <img src="{{ relativebase }}/assets/img/authors/mmazaheri.jpg" alt="Maryam Mazaheri">
  </div>
  <h3>Maryam Mazaheri</h3>
  <p class="subtitle">Linked Open Data Specialist</p>
  <ul class="contact-list">
<!--        <li class="facebook"><a class="facebook" href="https://facebook.com/yourname" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>-->
<!--        <li class="instagram"><a class="instagram" href="https://www.instagram.com/yourname" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>-->
    <li class="linkedin"><a class="linkedin" href="https://www.linkedin.com/in/maryam-mazaheri/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
<!--        <li class="twitter"><a class="twitter" href="https://x.com/yourname" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>-->
<!--        <li class="youtube"><a class="youtube" href="https://www.youtube.com/channel/yourname" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>-->
    <li class="github"><a class="github" href="https://github.com/MaryamUB" target="_blank"><i class="fa-brands fa-github"></i></a></li>
<!--    <li class="email"><a class="email" href="mailto:your<dot>name<at>domain<dot>.org"><i class="fa fa-envelope-open-text"></i></a></li>-->
  </ul>
</section>
<section class="authors-body">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium nec nisi sed viverra. Maecenas
        aliquam dapibus sem in rhoncus. Cras euismod placerat gravida. Suspendisse vitae libero ultrices, tempor neque ut,
        tincidunt urna. In id vulputate massa, id bibendum sem. Praesent imperdiet nisi eros. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc hendrerit ante vitae urna vestibulum,
        et posuere leo consectetur. Donec a ultricies diam. Etiam at quam vehicula, tristique dolor eu, tempus ex.
        Quisque ac mollis magna. Sed ornare felis vel interdum ullamcorper. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus
        et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.

        Suspendisse sem ligula, venenatis ac mi quis, aliquet pharetra risus. Nunc tristique congue rhoncus. Nulla
        euismod lectus sit amet facilisis euismod. Nam malesuada posuere sem, ac fermentum tortor mollis eu. Nam
        tincidunt bibendum eros et ultricies. Mauris facilisis non magna vitae aliquet. Ut non ligula lorem. Ut
        cursus fermentum dolor, at dictum mauris tempus a. Mauris elit metus, laoreet ac elit non, congue malesuada
        ipsum. In vulputate purus neque, vitae convallis nisl vehicula at.
    </p>
</section>
</div> <!-- End authors-container -->
