---
layout: menu-page
title: Our Authors
author: Maarten Coonen
permalink: authors:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="authors-container">
<section class="authors-header">
  <div class="author-image-container">
    <a id="Maarten Coonen"></a> <!-- Named anchor for this author -->
    <img src="{{ relativebase }}/assets/img/authors/mcoonen.jpg" alt="Maarten Coonen">
  </div>
  <h3>Maarten Coonen</h3>
  <p class="subtitle">Data Engineer, IT developer</p>
  <ul class="contact-list">
<!--        <li class="facebook"><a class="facebook" href="https://facebook.com/yourname" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>-->
<!--        <li class="instagram"><a class="instagram" href="https://www.instagram.com/yourname" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>-->
    <li class="linkedin"><a class="linkedin" href="https://www.linkedin.com/in/maartencoonen" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
<!--        <li class="twitter"><a class="twitter" href="https://x.com/yourname" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>-->
<!--        <li class="youtube"><a class="youtube" href="https://www.youtube.com/channel/yourname" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>-->
    <li class="github"><a class="github" href="https://github.com/mcoonen" target="_blank"><i class="fa-brands fa-github"></i></a></li>
<!--    <li class="email"><a class="email" href="mailto:your<dot>name<at>domain<dot>.org"><i class="fa fa-envelope-open-text"></i></a></li>-->
  </ul>
</section>
<section class="authors-body">
    <p>
        Maarten Coonen (MSc) studied Molecular Life Sciences and switched to Information Technology in 2011.
        Throughout the years he fulfilled different positions in the field of Research Data Management
        at Maastricht University, such as bioinformatics associate, developer, data architect, team lead and
        project lead. Since 2022, he has been working at Maastricht University Library as Data Engineer and IT developer
        creating software solutions for Research Intelligence, Digital Heritage, Linked Open Data and Omeka S.
    </p>
</section>
</div> <!-- End authors-container -->

<div class="authors-container">
<section class="authors-header">
  <div class="author-image-container">
    <a id="Maryam Mazaheri"></a> <!-- Named anchor for this author -->
    <img src="{{ relativebase }}/assets/img/authors/mmazaheri.jpg" alt="Maryam Mazaheri">
  </div>
  <h3>Maryam Mazaheri</h3>
  <p class="subtitle">Linked Open Data Specialist</p>
  <ul class="contact-list">
<!--        <li class="facebook"><a class="facebook" href="https://facebook.com/yourname" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>-->
<!--        <li class="instagram"><a class="instagram" href="https://www.instagram.com/yourname" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>-->
    <li class="linkedin"><a class="linkedin" href="https://www.linkedin.com/in/maryam-mazaheri/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li class="twitter"><a class="twitter" href="https://x.com/MMazaheri_UB" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
<!--        <li class="youtube"><a class="youtube" href="https://www.youtube.com/channel/yourname" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>-->
    <li class="github"><a class="github" href="https://github.com/MaryamUB" target="_blank"><i class="fa-brands fa-github"></i></a></li>
<!--    <li class="email"><a class="email" href="mailto:your<dot>name<at>domain<dot>.org"><i class="fa fa-envelope-open-text"></i></a></li>-->
  </ul>
</section>
<section class="authors-body">
    <p>
        Maryam Mazaheri is a Linked Open Data Specialist at Maastricht University Library. With a background in sales,
        innovation, and marketing within the ICT and Telecom industries, she brings a wealth of experience to the
        academic field. Her transition to the library sector has involved working with digital collections through the
        Omeka S platform, aiming to enhance the accessibility and application of linked open data for academic research.
        As a product coordinator for Omeka S, she collaborates with IT developers, researchers, and other library teams
        to develop and manage digital solutions that improve data management and accessibility. Maryam holds a Master's
        degree in Innovation Management (2018) and is currently concluding her Ph.D. in Innovation Science with a focus
        on Sustainable Innovation Dynamics at TU/e Eindhoven.
    </p>
</section>
</div> <!-- End authors-container -->
